/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 21, 2020
    Author     : Loi Dinh
*/


.leftcolumn {
    float: left;
    width: 25%;
}

.leftcolumn ul.list-group {
    list-style-type: none;
}

.rightcolumn {
    float: right;
    width: 75%;
}